@tailwind base;
@tailwind components;
@tailwind utilities;

.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.exit-btn {
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298 51%, #1e3c72 100%);
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.exit-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}